@sant-testing:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-sant-testing-npm-local/
@cx-testing:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-connx-npm-local/
registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/npm-remote/
